.App {
  text-align: center;
}

.btn {
    border: #006400 2px solid;
    padding: 2px;
    margin: 2px;
    width: 40px;
}

.container {

    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    border: #006400 2px solid;
    padding: 5px;

}

#buttons {
    margin: auto;
}

#display {
    margin: auto;
}