.App {
    text-align: center;
}

.btn {
    border: #006400 2px solid;
    padding: 2px;
    margin: 2px;
    width: 40px;
}

.container {

    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 200px;
    border: #006400 2px solid;
    padding: 5px;
    background-color: #90ee90;

}

#buttons {
    margin: auto;
    width: 200px;
}

#display {
    margin: auto;
    color: #006400;
    width: 200px;
    font-size: 20px;
}